<div class="note-container">
  <button class="save-button waves-effect waves-light btn" {{action "saveNote"}}>
    Save
  </button>

  <button class="trash-button btn" {{action "deleteNote"}}>
    Delete
  </button>

  {{input
    value=note.title
    class="note-title"
    autofocus="true"
    placeholder="Title"
  }}

  {{textarea
    value=note.text
    class="note-text-area"
    cols="50"
    rows="20"
    placeholder="Start Typing Here"
  }}
</div>

{{yield}}
